* {margin: 0; padding: 0;}
body {
	width: 1000px;
	background-color: white;
	margin: 15px auto;
	border: 1px solid black; 
	
}
h1 { padding: 10px; }

header { border-bottom: 2px solid #ef9c00;}
section {
	height: 400px;
	width: 600px;
	float: left;
	border-right: 2px solid #ef9c00;
	float: left;
}
aside {
	width: 360px;
	float: right;
}
footer {
	clear: both;
	border-top: 2px solid #EF9C00;
}
